CREATE DATABASE {{ db_name }};
\c {{ db_name }};
GRANT USAGE ON SCHEMA public TO Group "{{ db_owner }}";
GRANT ALL ON ALL TABLES IN SCHEMA public TO GROUP "{{ db_owner }}";
GRANT ALL ON ALL SEQUENCES IN SCHEMA public TO GROUP "{{ db_owner }}";
