ETCD_NAME={{ inventory_hostname }}
ETCD_INITIAL_CLUSTER="pgnode1=http://{{ etcd_node1_ipv4 }}:2380,pgnode2=http://{{ etcd_node2_ipv4 }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="cluster1"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_default_ipv4.address }}:2380"
ETCD_DATA_DIR="/var/lib/etcd/postgresql"
ETCD_LISTEN_PEER_URLS="http://{{ ansible_default_ipv4.address }}:2380,http://127.0.0.1:7001"
ETCD_LISTEN_CLIENT_URLS="http://127.0.0.1:2379, http://{{ ansible_default_ipv4.address }}:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_default_ipv4.address }}:2379"
