global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen primary
    bind *:5000
    option httpchk /primary 
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server {{ hosts_node1 }} {{ hosts_node1 }}:5432 maxconn 100 check port 8008
    server {{ hosts_node2 }} {{ hosts_node2 }}:5432 maxconn 100 check port 8008

listen standbys
    balance roundrobin
    bind *:5001
    option httpchk /replica 
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server {{ hosts_node1 }} {{ hosts_node1 }}:5432 maxconn 100 check port 8008
    server {{ hosts_node2 }} {{ hosts_node2 }}:5432 maxconn 100 check port 8008
