127.0.0.1 localhost {{ inventory_hostname }}
{{ etcd_node1_ipv4 }}  {{ hosts_node1 }}
{{ etcd_node2_ipv4 }}  {{ hosts_node2 }}

127.0.1.1     {{ inventory_hostname }}
# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
