scope: postgres
namespace: /db/
name: {{ inventory_hostname }}

restapi:
    listen: 0.0.0.0:8008
    connect_address: {{ inventory_hostname }}:8008

etcd:
    host: {{ inventory_hostname }}:2379

bootstrap:
    dcs:
        ttl: 30
        loop_wait: 10
        retry_timeout: 10
        maximum_lag_on_failover: 1048576
        postgresql:
          use_pg_rewind: true
          use_slots: true
          parameters:
            wal_level: replica
            hot_standby: "on"
            logging_collector: 'on'
            max_wal_senders: 5
            max_replication_slots: 5
    
    initdb:
    - encoding: UTF8
    - data-checksums

    users:
      {{ db_owner }}:
         password: {{ db_owner_pass }}
         options:
            - createrole
            - createdb
      replicator: 
         password: rep_pass    
         options:
            - replication 

postgresql:
    listen: 0.0.0.0:5432
    connect_address: {{ inventory_hostname }}:5432
    data_dir: /data/patroni
    bin_dir: /usr/lib/postgresql/14/bin
    pgpass: /tmp/pgpass
    pg_hba:
    - local all all peer
    - local replication all peer
    - host  all all 127.0.0.1/32 md5    
    - host replication replicator 127.0.0.1/32 trust
    - host replication replicator {{ etcd_node1_ipv4 }}/32 md5
    - host replication replicator {{ etcd_node2_ipv4 }}/32 md5
    - host all all {{ etcd_node1_ipv4 }}/32 md5
    - host all all {{ etcd_node2_ipv4 }}/32 md5
    #- host all all 0.0.0.0/0 md5
    authentication:
        replication:
            username: replicator
            password: rep_pass
        superuser:
            username: postgres
            password: pg_pass
    parameters:
        unix_socket_directories: '/var/run/postgresql'

tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false

 
